<header>
    <h1>LOTTERY GAME GENERATOR</h1>
</header>

<main>
    <button id="generate_button">GENERATE GAME</button>
    <div class="row">
        <div class="number0">A</div>
        <div class="number1">B</div>
        <div class="number2">C</div>
        <div class="number3">D</div>
        <div class="number4">E</div>
        <div class="number5">F</div>
    </div>
</main>